@font-face {
    font-family: Poppins;
    src: url(Poppins-Regular.ttf);
}
body{
    font-family: Poppins;
}


.btn-success{
    background-color: #98CE00 !important;
    padding: 10px 30px !important;
}
.btn-primary{
    background-color: #0d6db7!important;
    padding: 10px 30px !important;
}
.btn:hover{
    scale: 1.04;
    transition: 0.1s ease-in-out;
}
.social-card{
    height: 150px;
    width: 150px;
    background-color:#EDF7D2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.social-card:hover{
    scale: 1.06;
    transition: 0.5s ease-in-out;
}

#news-card{
    background-color: #e9ecef !important;
}

.date-btn{
    background-color: #98CE00;
    height: 100px !important;
    width: 80px;
    font-size: 12px;
    color: white;
    text-decoration: none;
}


.ms-md-5{
    margin-left: 300px !important;
}

#saylani-guide{
    background-color: #0d6db7 !important;
}

ul>li{
    list-style: none;
}


ul>li>a{
    text-decoration: none;
    color: white;
}


footer{
    background-color: #626868;
}